.page.page--homepage

    .homepage-hero

        .container

            h1 NG-BE
            h2 Belgium's first ever Angular conference!
            h3 Gent, Belgium | 8 & 9 December 2016


    section
        .container
            .row
                .col-sm-6.col-sm-offset-3
                    .text-center
                        p: a(href="https://ti.to/ng-be/ng-be-2016/") Tickets available now!
