.jobboard

    .container

        h1 Jobs

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="https://www.ordina.be/", target="_blank")
                        img(src="components/sponsors/img/ordina-wide.png", alt="Ordina")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Ordina

                h4 JavaScript Developer

                p Softwareontwikkeling is voor jou een échte passie. Je draagt bij in het succesvol opleveren van onze projecten en zorgt ervoor dat onze klanten trots zijn op jouw bijdrage. Het oplossen van complexe problemen schrikt jou niet af en je bent geïnteresseerd in de nieuwste trends en ontwikkelingen en wil deze ook aanleren. Je werkt mee in onze Competence Centers (JavaScript, Mobile, Automation & Tooling, ... ) en deelt je kennis met je collega's.
                p: a(href="https://jobs.ordina.be/nl-nl/vacatures/javascript-developer/", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://www.aarixa.be/", target="_blank")
                        img(src="components/sponsors/img/aarixa.jpg", alt="aariXa")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 aariXa

                h4 Front-end SUPERMAN

                p As Superman you’ll work as consultant for the TOP 500 clients in Belgium, always with the final goal to satisfy the client! Your mission is to inspire the team of Front-end developers and bring them to a higher level. “NOT just pretty, but USEFUL”. Responsive design is key, Cross-browser and Cross platform is always part of the deal, and experience with mobile development is a huge plus.
                p: a(href="https://www.linkedin.com/jobs/view/224025885", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="https://www.arhs-group.com/arhs-digital", target="_blank")
                        img(src="components/sponsors/img/arhs_digital.png", alt="ARHS Digital")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 ARHS Digital

                h4 AngularJS Technical Advisor

                p Arηs Developments Hellas is looking for an AngularJS technical expert. The main goal of the selected candidate will be to support Arηs in the creation of a team of experts to provide technical advice and expertise to several of our most important clients.
                p: a(href="https://www.arhs-group.com/jobs#GREX1AVMBYAN9", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://www.realdolmen.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/realdolmen.jpg", alt="RealDolmen")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Real Dolmen

                h4 Java/.Net/Angular Developer

                p As a Developer at Realdolmen you are expected to have an extensive knowledge of the usual frameworks: JavaScript, AngularJS, Java or .Net core frameworks, and so on. But more importantly, you need to have a passion for development and be eager to learn new stuff.
                p: a(href="http://jobs.realdolmen.com/", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://www.euri.com", target="_blank")
                        img(src="/components/sponsorscommunity/img/euricom.png", alt="Euricom")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Euricom

                h4 Full-stack Angular Developer

                p During 6 weeks we will mentor and train skilled developers in new technologies like .net Core, Angular 2 and NodeJS. While looking under the hood and giving attention to code quality, we will link these new technologies with cutting edge technical designs and practices like, microservices, event sourcing and containers. Add to that an open-mind intro on the mainstream cloud platforms (Azure, AWS, Google Cloud). Starting on February 1, 2017. Contact us and claim your spot!
                p: a(href="http://www.euri.com/bootcamp", target="_blank") More info...
