.jobboard

    .container

        h1 Jobs

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-2.col-md-offset-2
                .community-logo
                    a(href="https://www.arhs-group.com/arhs-digital", target="_blank")
                        img(src="components/sponsors/img/arhs_digital.png", alt="ARHS Digital")

            .col-xs-6
                h3 ARHS Digital

                h4 AngularJS Technical Advisor

                p Arηs Developments Hellas is looking for an AngularJS technical expert. The main goal of the selected candidate will be to support Arηs in the creation of a team of experts to provide technical advice and expertise to several of our most important clients.
                p: a(href="https://www.arhs-group.com/jobs", target="_blank") More info...

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-2.col-md-offset-2
                .community-logo
                    a(href="http://www.realdolmen.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/realdolmen.png", alt="Real Dolmen")

            .col-xs-6
                h3 Real Dolmen

                h4 Java/.Net/Angular Developer

                p As a Developer at Realdolmen you are expected to have an extensive knowledge of the usual frameworks: JavaScript, AngularJS, Java or .Net core frameworks, and so on. But more importantly, you need to have a passion for development and be eager to learn new stuff.
                p: a(href="http://jobs.realdolmen.com/", target="_blank") More info...
