.community

    .container

        h1 Many thanks to our sponsor partners

        p
            a(ui-sref="app.public.sponsors" title="") Checkout all our sponsors here!


        h2 & our community partners!

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1point5.col-lg-offset-3.col-md-offset-3.compartner
                a(href="https://angularair.com/", target="_blank")
                    img(src="/components/sponsorscommunity/img/angular-air.png", alt="")

            .col-xs-6.col-sm-3.col-md-2.col-lg-2.compartner.round
                a(href="http://www.meetup.com/jsbe-io/", target="_blank")
                    img(src="/components/sponsorscommunity/img/jsbe.jpg", alt="")

            .col-xs-6.col-sm-3.col-md-2.col-lg-2.compartner
                a(href="https://www.jetbrains.com/", target="_blank")
                    img(src="/components/sponsorscommunity/img/jetbrains.png", alt="")
