.community-sponsors

    .container

        h1 Official sponsors
        h2 NG-BE would not be possible without these awesome sponsors

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-2.col-md-offset-2
                .community-logo
                    a(href="https://www.ordina.be/", target="_blank")
                        img(src="/components/sponsorscommunity/img/ordina.png", alt="")
                    .community-logo-label.community-logo-label--platinum
                        span.label.label-default Platinum

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://www.arhs-group.com/arhs-digital", target="_blank")
                        img(src="/components/sponsorscommunity/img/arhs_digital.png", alt="")
                    .community-logo-label.community-logo-label--gold
                        span.label.label-default Gold

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://www.progress.com", target="_blank")
                        img(src="/components/sponsorscommunity/img/progress.jpg", alt="")
                    .community-logo-label.community-logo-label--gold
                        span.label.label-default Gold

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="http://www.aarixa.be", target="_blank")
                        img(src="/components/sponsorscommunity/img/aarixa.jpg", alt="")
                    .community-logo-label.community-logo-label--gold
                        span.label.label-default Gold

        .row

            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-3.col-md-offset-3.col-sm-offset-2
                .community-logo
                    a(href="http://www.realdolmen.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/realdolmen.jpg", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="https://www.microsoft.com/nl-be", target="_blank")
                        img(src="/components/sponsorscommunity/img/microsoft.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://axxes.com/en/", target="_blank")
                        img(src="/components/sponsorscommunity/img/axxes.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.visible-xs-block
                .community-logo
                    a(href="http://www.adneom.com", target="_blank")
                        img(src="/components/sponsorscommunity/img/adneom.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-4.col-md-offset-4.col-sm-offset-3.hidden-xs
                .community-logo
                    a(href="http://www.adneom.com", target="_blank")
                        img(src="/components/sponsorscommunity/img/adneom.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="components/sponsors/img/euricom_bootcamp.pdf", target="_blank")
                        img(src="/components/sponsorscommunity/img/euricom.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

        p
            a.btn.btn-primary.btn-large(ui-sref="app.public.sponsors" title="") Check out all sponsors here!


.community-partners

    .container

        h1 Community partners

        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-lg-offset-4.col-md-offset-4
                .community-logo.community-logo--round
                    a(href="http://thoughtram.io", target="_blank")
                        img(src="/components/sponsorscommunity/img/thoughtram.png", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="http://strongbrew.io", target="_blank")
                        img(src="/components/sponsorscommunity/img/strongbrew.jpg", alt="")

        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-lg-offset-3.col-md-offset-3
                .community-logo
                    a(href="https://angular.io/", target="_blank")
                        img(src="/components/sponsorscommunity/img/angular.png", alt="Angular")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo
                    a(href="https://angularair.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/angular-air.png", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo
                    a(href="http://angularcamp.org/", target="_blank")
                        img(src="/components/sponsorscommunity/img/angularcamp.png", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-lg-offset-3.col-md-offset-3.visible-xs-block
                .community-logo.community-logo--round
                    a(href="https://devfest.be/", target="_blank")
                        img(src="/components/sponsorscommunity/img/gdg.png", alt="")

        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-lg-offset-3.col-md-offset-3.hidden-xs
                .community-logo.community-logo--round
                    a(href="https://devfest.be/", target="_blank")
                        img(src="/components/sponsorscommunity/img/gdg.png", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="http://www.meetup.com/jsbe-io/", target="_blank")
                        img(src="/components/sponsorscommunity/img/jsbe.jpg", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo
                    a(href="https://www.jetbrains.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/jetbrains.png", alt="")
        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-lg-offset-4.col-md-offset-4
                .community-logo.community-logo--round
                    a(href="https://ngvikings.org/", target="_blank")
                        img(src="/components/sponsorscommunity/img/ngvikings.png", alt="")

            .col-xs-6.col-sm-4.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://www.meetup.com/AngularJS-Oslo/", target="_blank")
                        img(src="/components/sponsorscommunity/img/ngnorway.png", alt="")
        .row
            .col-xs-6.col-sm-4.col-md-2.col-lg-2.col-sm-offset-4.col-md-offset-5
                .community-logo
                    a(href="http://www.clearskynetworks.be/", target="_blank")
                        img(src="/components/sponsorscommunity/img/clearsky-networks.png", alt="")
