.community-sponsors

    .container

        h1 Official sponsors
        h2 NG-BE would not be possible without these awesome sponsors

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1point5.col-lg-offset-3.col-md-offset-3
                .community-logo
                    a(href="https://www.ordina.be/", target="_blank")
                        img(src="/components/sponsorscommunity/img/ordina.png", alt="")
                    .community-logo-label.community-logo-label--platinum
                        span.label.label-default Platinum

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://www.arhs-group.com/arhs-developments-belgium", target="_blank")
                        img(src="/components/sponsorscommunity/img/arhs_dev.png", alt="")
                    .community-logo-label.community-logo-label--gold
                        span.label.label-default Gold

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="http://www.realdolmen.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/realdolmen.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-lg-offset-2.col-md-offset-2
                .community-logo
                    a(href="https://www.microsoft.com/nl-be", target="_blank")
                        img(src="/components/sponsorscommunity/img/microsoft.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="https://axxes.com/en/", target="_blank")
                        img(src="/components/sponsorscommunity/img/axxes.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="http://adneom.com/en/home/", target="_blank")
                        img(src="/components/sponsorscommunity/img/adneom.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="components/sponsors/img/euricom_bootcamp.pdf", target="_blank")
                        img(src="/components/sponsorscommunity/img/euricom.png", alt="")
                    .community-logo-label.community-logo-label--silver
                        span.label.label-default Silver

        p
            a.btn.btn-primary.btn-large(ui-sref="app.public.sponsors" title="") Check out all sponsors here!


.community-partners

    .container

        h1 Community partners

        .row
            .col-xs-6.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1point5.col-lg-offset-3.col-md-offset-3
                .community-logo
                    a(href="https://angularair.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/angular-air.png", alt="")

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo.community-logo--round
                    a(href="http://www.meetup.com/jsbe-io/", target="_blank")
                        img(src="/components/sponsorscommunity/img/jsbe.jpg", alt="")

            .col-xs-6.col-sm-3.col-md-2.col-lg-2
                .community-logo
                    a(href="https://www.jetbrains.com/", target="_blank")
                        img(src="/components/sponsorscommunity/img/jetbrains.png", alt="")
