.page.page--team

    .team-hero

        .container

            h1 Team
            h3 NG-BE would be nothing without the help of these fantastic people

    .team-members
        .container
            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Sam Vloeberghs
                                .team-member__title Co-organiser
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/samvloeberghs", target="_blank") @samvloeberghs
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/sam-vloeberghs.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/jurgen-van-de-moere.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Jurgen Van de Moere
                                .team-member__title Co-organiser
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/jvandemo", target="_blank") @jvandemo
