.page.page--team

    .team-hero

        .container

            h1 Team
            h3 NG-BE would not be possible without the help of its fantastic Core Team

    .team-members
        .container


            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Sam Verschueren
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/SamVerschueren", target="_blank") @SamVerschueren
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/sam-verschueren.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/brecht-billiet.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Brecht Billiet
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/brechtbilliet", target="_blank") @brechtbilliet

            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Carmen Popoviciu
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/CarmenPopoviciu", target="_blank") @CarmenPopoviciu
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/carmen-popoviciu.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/tim-ysewyn.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Tim Ysewyn
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/TYsewyn", target="_blank") @TYsewyn

            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Hannes Neukermans
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/HNeukermans", target="_blank") @HNeukermans
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/hannes-neukermans.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/ksenia-karelskaya.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Ksenia Karelskaya
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/0594CF", target="_blank") @0594CF

            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Davy Engone
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/davyengone", target="_blank") @davyengone
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/davy-engone.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/thijs-dhulster.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Thijs D'hulster
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/tdhulster", target="_blank") @tdhulster

            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Dennis Jaamann
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/dennisjaamann", target="_blank") @dennisjaamann
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/dennis-jaamann.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/chandan-agarwal.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Chandan Agarwal
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/cooldudebtn", target="_blank") @cooldudebtn

            .row
                .col-sm-5.col-sm-offset-1

                    .team-member.text-right
                        .row
                            .col-xs-8.col-sm-9
                                .team-member__name Pieter Moeyersons
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/poeyer_", target="_blank") @poeyer_
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/pieter-moeyersons.jpg")

                .col-sm-5

                    .team-member
                        .row
                            .col-xs-4.col-sm-3
                                .team-member__image
                                    img(src="components/team/img/stefan-lapers.jpg")
                            .col-xs-8.col-sm-9
                                .team-member__name Stefan Lapers
                                .team-member__title Core team member
                                .team-member__links
                                    .team-member-link
                                        a(href="https://twitter.com/stefanlapers", target="_blank") @stefanlapers

    include /components/sponsorscommunity/sponsorscommunity
