.page.page--workshop-day

    .workshop-day-hero

        .container

            h1 Workshop day
            h3 Ghent, Belgium | 8 December 2016 | 08:30 - 17:00

    .workshop-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3

                    .text-center Our workshops take place the day before the conference. Please bring your own laptop and note that workshop tickets are sold separately.
