.page.page--workshop-day

    .workshop-day-hero

        .container

            h1 Workshop day
            h3 Ghent, Belgium | 8 December 2016 | 07:30 - 17:30

    .workshop-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3

                    .text-center There are 2 workshops the day before the conference. Please bring your own laptop and note that workshop tickets are sold separately.

    .workshop-day-workshops

        .container

            .row
                .col-sm-5.col-sm-offset-1

                    .workshop.text-right
                        .workshop__title One-day Angular 2 workshop by Thoughtram
                        .workshop__date Training room 1
                        .workshop__description
                            p Only 26 tickets left
                            a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

                    h1.workshop-section-title.text-right Trainer

                    .workshop-trainers

                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Pascal Precht
                                    .trainer__title Trainer at Thoughtram
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/pascal-precht.jpg")

                    h1.workshop-section-title.text-right Schedule

                    .workshop-schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    ul
                                        li Bootstrapping an Angular 2 application
                                        li Using child directives/components

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    ul
                                        li Creating dynamic lists
                                        li Services and Dependency Injection

                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    ul
                                        li Routing
                                        li Fetching and posting data using Http

                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    ul
                                        li Observables
                                        li Two-way data binding and simple Forms
                                        li AsyncPipe

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End

                .col-sm-5

                    .workshop
                        .workshop__title Reactive applications with Angular 2, RXJS and @ngrx
                        .workshop__date Training room 2
                        .workshop__description
                            p Only 24 tickets left
                            a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

                    h1.workshop-section-title Trainer

                    .workshop-trainers

                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/brecht-billiet.jpg")
                                .col-xs-8.col-sm-9
                                    .trainer__name Brecht Billiet
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/brechtbilliet", target="_blank") @brechtbilliet

                    h1.workshop-section-title Schedule

                    .workshop-schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p Angular 2 in a nutshell
                                    ul
                                        li Input, Output
                                        li Dependency injection, onPush strategy

                                    p Smart & dumb components
                                    ul
                                        li Theory
                                        li Design and exercises

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Redux and @ngrx
                                    ul
                                        li Theory
                                        li Test driven reducers + Wallaby
                                        li Action creators + combineReducers
                                        li Dev tools + ngrxstore


                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p RxJS
                                        li Theory
                                        li Implement streams
                                        li Flatmap example


                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Going real-time
                                    p Architectural decisions

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End

    .workshop-day-buy

        .container

            h1 Don't miss it!
            h2 Only limited tickets are available:

            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your ticket now

    include /components/sponsorscommunity/sponsorscommunity
