.page.page--workshop-day

    .workshop-day-hero

        .container

            h1 Workshop day
            h3 Ghent, Belgium | 8 December 2016 | 08:30 - 17:00

    .workshop-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3

                    .text-center Our workshops take place the day before the conference. Please bring your own laptop and note that workshop tickets are sold separately.

    .workshop-day-workshops

        .container

            .row
                .col-sm-5.col-sm-offset-1

                    .workshop.text-right
                        .workshop__title Angular 2 Workshop
                        .workshop__date December 8, 2016
                        .workshop__description
                            p Only 30 tickets available
                            a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

                    h1.workshop-section-title.text-right Trainer

                    .workshop-trainers

                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Pascal Precht
                                    .trainer__title Trainer at Thoughtram
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/pascal-precht.jpg")

                    h1.workshop-section-title.text-right Schedule

                    .workshop-schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p Session 1

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Session 2

                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p Session 3

                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Session 4

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End

                .col-sm-5

                    .workshop
                        .workshop__title @ngrx/RxJS workshop
                        .workshop__date December 8, 2016
                        .workshop__description
                            p Only 30 tickets available
                            a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

                    h1.workshop-section-title Trainer

                    .workshop-trainers

                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/brecht-billiet.jpg")
                                .col-xs-8.col-sm-9
                                    .trainer__name Brecht Billiet
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/brechtbilliet", target="_blank") @brechtbilliet

                    h1.workshop-section-title Schedule

                    .workshop-schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p Angular2 best practices and architectural choices
                                    ul
                                        li smart & dumb components
                                        li flux
                                        li abstracting state/rest logic
                                        li other

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Redux
                                    ul
                                        li unidirectional dataflow
                                        li immutable state
                                        li reducers
                                        li reactive redux with @ngrx/store

                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p RxJS
                                        li observable state
                                        li creating an autocomplete
                                        li merging streams

                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Unit testing recipes
                                    p Deploying with surge

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End
