.page.page--workshop-day

    .workshop-day-hero

        .container

            h1 Workshop day
            h3 Ghent, Belgium | 8 December 2016 | 07:30 - 17:30

    .workshop-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3

                    .text-center There are 2 workshops the day before the conference. Please bring your own laptop and note that workshop tickets are sold separately.

    .workshop-day-workshop.workshop-day-workshop--one

        .workshop-heading
            .workshop-heading__intro Workshop 1
            .workshop-heading__title Angular 2 Workshop<br />by Thoughtram
            .workshop-heading__date 8 December 2016 | 08:30 - 17:30
            .workshop-heading__tickets-left Sold out!
            .workshop-heading__buy
                a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

        .workshop-trainers

            .container

                .workshop-section-title Trainers

                .row
                    .col-sm-6

                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Pascal Precht
                                    .trainer__title Trainer at Thoughtram
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/pascal-precht.jpg")

                    .col-sm-6

                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/dominic-elm.jpg")

                                .col-xs-8.col-sm-9
                                    .trainer__name Dominic Elm
                                    .trainer__title Frontend Engineer at team neusta GmbH
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/elmd_", target="_blank") @elmd_

                .workshop-section-title.company__title Thoughtram
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .company__image
                            a(href="http://thoughtram.io", target="_blank")
                                img(src="components/workshop-day/img/thoughtram.png")
                        p.company__desc We help people to get a deep understanding of different technologies through trainings and code reviews. Our services can be arranged online, making it possible to join in from anywhere in the world, or on-site to get the best experience possible.


        .workshop-schedule

            .container
                .row
                    .col-sm-8.col-sm-offset-2

                        .workshop-section-title Schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    ul
                                        li Bootstrapping an Angular 2 application
                                        li Using child directives / components

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    ul
                                        li Creating dynamic lists
                                        li Services and Dependency Injection

                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    ul
                                        li Routing
                                        li Fetching and posting data using Http

                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    ul
                                        li Observables
                                        li Two-way data binding and simple Forms
                                        li AsyncPipe

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End


    .workshop-day-workshop.workshop-day-workshop--two

        .workshop-heading
            .workshop-heading__intro Workshop 2
            .workshop-heading__title Reactive applications with Angular 2, RXJS and @ngrx<br />by StrongBrew
            .workshop-heading__date 8 December 2016 | 08:30 - 17:30
            .workshop-heading__tickets-left Sold out!
            .workshop-heading__buy
                a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2016/") Buy tickets

        .workshop-trainers

            .container

                .workshop-section-title Trainers

                .row
                    .col-sm-6

                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Brecht Billiet
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/brechtbilliet", target="_blank") @brechtbilliet
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/brecht-billiet.jpg")

                    .col-sm-6

                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/kwinten-pisman.jpg")

                                .col-xs-8.col-sm-9
                                    .trainer__name Kwinten Pisman
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/KwintenP", target="_blank") @KwintenP

                .workshop-section-title.company__title StrongBrew

                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .company__image
                            a(href="http://strongbrew.io", target="_blank")
                                img(src="components/workshop-day/img/strongbrew.jpg")
                        p.company__desc StrongBrew does not only stand for the fact that we adore the famous Belgian beers, but we also look at our workshops as brews, certain recipes to create awesome webapps. We also hold strong opinions on how one should create webapplications, and even though there are multiple ways to get stuff done, we would love to teach you how we do things.


        .workshop-schedule

            .container
                .row
                    .col-sm-8.col-sm-offset-2

                        .workshop-section-title Schedule

                        .schedule-items

                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers

                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p Angular 2 in a nutshell
                                    ul
                                        li Input, Output
                                        li Dependency injection, onPush strategy

                                    p Smart & dumb components
                                    ul
                                        li Theory
                                        li Design and exercises

                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits

                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Redux and @ngrx
                                    ul
                                        li Theory
                                        li Test driven reducers + Wallaby
                                        li Action creators + combineReducers
                                        li Dev tools + ngrxstore


                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p RxJS
                                        li Theory
                                        li Implement streams
                                        li Flatmap example


                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks

                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Going real-time
                                    p Architectural decisions

                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End

    .workshop-day-buy

        .container

            h1 Don't miss it!
            h2 Only limited tickets are available:

            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your ticket now

    include /components/sponsorscommunity/sponsorscommunity
