.page.page--code-of-conduct

    .code-of-conduct-hero

        .container

            h1 Code of conduct
            h3 NG-BE is a friendly conference where everyone should feel welcome, safe and comfortable to share ideas and engage in open discussion without threat of intimidation or public embarrassment. Please be respectful in person and on social media towards other delegates, speakers, organisers and staff.

    .code-of-conduct-moreinfo

        .container

            p We are committed to providing a <strong>harassment-free conference</strong> experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants, speakers or staff in any form.

            p Sexual language and imagery are not appropriate for any conference venue, including talks. Conference participants who violate these rules may be expelled from the conference (without a refund) at the discretion of the conference organisers.

            p Harassment includes offensive verbal comments, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behaviour are expected to comply immediately. These policies apply in every space at the venue related to conference activity, and to all participants in every role.

            p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by their t-shirts. We will be happy to assist those experiencing harassment to feel safe for the duration of the conference, for example by providing escorts or contacting police should this be required.

            p We expect participants to follow these rules at all conference venues and conference-related social events.

            p We have lovely delegates and trust that this code of conduct mirrors the views of the majority of our participants.
