footer.site-footer

    .site-footer__summary

        .container

            .row
                .col-sm-3

                    .callout

                        img(src="/assets/img/logo.svg", alt="NG-BE")

                        h1 NG-BE

                .col-sm-8.col-sm-offset-1

                    .row


    .site-footer__disclaimer

        ul
            li: a(ui-sref="app.public.terms") Terms
            li: a(ui-sref="app.public.codeOfConduct") Code of conduct

