.page.page--terms

    .terms-hero

        .container

            h1 Terms &amp; conditions
            h3 Please comply with our terms & conditions listed below

    .terms-moreinfo

        .container

            h4 Transferring your place

            p We’ll happily transfer your place to a lucky colleague or friend if you need to do so. Please let us know as soon as possible and ideally no later than 1 November 2016 – email info@ng-be.org.
            p If for any reason you can’t attend at all, you’ll need to let us know no later than 15 October 2016. Refunds will not be made after this date. When requesting a refund we will charge a refund fee, relative to the amount, covering the refund costs.

            h4 Photos and footage
            p We will be filming NG-BE for a live stream and recorded films which will be publically available for free. We will also have an official photographer there taking photographs. By registering you give us permission to use any images or footage taken of you on the day.

            h4 Social media
            p We reserve the right to reproduce quotes and feedback submitted in a public sphere, which will be fully credited.

            h4 Accessibility
            p Holiday Inn Ghent Expo is where possible accessible to wheelchair users. If you have any requirements you think we should be aware of, please let us know at the point of registering so that we can ensure we meet your needs and have someone on hand to assist you if required. We aim to meet all access requirements but the more notice you give us, the better able we are to assist.

            h4 Programme
            p From time to time a speaker may drop out of our conference programme as we’ve advertised it and we reserve the right to substitute them for another equally awesome individual. We know you won’t be disappointed!

            h4 Privacy
            p We take your privacy very seriously and will not sell or share your personal information with sponsors or third parties. Sponsors may request to gather your details on the day of the conference but your permission will be sought and the information gathered from you directly via barcode scanners and a personalised barcode on your badge.

            h4 Code of Conduct
            p Every attendee, sponsor and speaker, by virtue of purchasing a ticket or attending, agrees to comply in full with our conference code of conduct.


