.page.page--conference-day

    .conference-day-hero

        .container

            h1 Conference day
            h3 Gent, Belgium | 9 December 2016 | 08:30 - 17:00

    .conference-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3

                    .text-center Learn about the latest Angular developments and meet with experts from the Angular community while enjoying delicious foods and drinks.


    .conference-day-speakers

        .container

            h1 Speakers
            h2 The following speakers have already confirmed:

            .row
                .col-sm-8.col-sm-offset-2

                    .speaker
                        .row
                            .col-xs-3.col-sm-2
                                .speaker__image
                                    img(src="components/conference-day/img/pascal-precht.jpg")
                            .col-xs-9.col-sm-8
                                .speaker__name Pascal Precht
                                .speaker__title Trainer at @thoughtram, Google Developer Expert
                                .speaker__description Pascal is a front-end engineer and a Angular Developer Expert nominated by Google. He created the angular-translate module, is an Angular 2 contributor and also part of the Angular 2 Docs Authoring team.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht

                    .speaker
                        .row
                            .col-xs-3.col-sm-2
                                .speaker__image
                                    img(src="components/conference-day/img/todd-motto.jpg")
                            .col-xs-9.col-sm-10
                                .speaker__name Todd Motto
                                .speaker__title Developer Advocate @Telerik. Founder of Voux, Google Developer Expert
                                .speaker__description JavaScript, Angular, React, conference speaker. Developer Expert at Google, open source lover.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/toddmotto", target="_blank") @ToddMotto

                    .speaker
                        .row
                            .col-xs-3.col-sm-2
                                .speaker__image
                                    img(src="components/conference-day/img/angular.svg")
                            .col-xs-9.col-sm-10
                                .speaker__name Surprise!
                                .speaker__title Google
                                .speaker__description We are thrilled to announce that the Angular team has promised to send 2 Angular Core Team members to NG-BE to talk about the latest developments in Angular land.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/angularjs", target="_blank") @angularjs

    .conference-day-schedule

        .container

            h1 Schedule
            h2 Every conference day ticket includes:

            .schedule-items

                .schedule-item
                    .schedule-item__time 07:30
                    .schedule-item__description
                        p Enjoy the continental breakfast buffet together with the speakers

                .schedule-item
                    .schedule-item__time 08:30
                    .schedule-item__description
                        p Sponsor messages

                .schedule-item
                    .schedule-item__time 09:00
                    .schedule-item__description
                        p Talk 1
                        p Talk 2

                .schedule-item
                    .schedule-item__time 10:30
                    .schedule-item__description
                        p Break with coffees, teas, juices, fresh yoghurt and fruits

                .schedule-item
                    .schedule-item__time 11:00
                    .schedule-item__description
                        p Talk 3
                        p Talk 4

                .schedule-item
                    .schedule-item__time 12:30
                    .schedule-item__description
                        p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert

                .schedule-item
                    .schedule-item__time 14:00
                    .schedule-item__description
                        p Talk 5
                        p Talk 6

                .schedule-item
                    .schedule-item__time 15:30
                    .schedule-item__description
                        p Break with coffees, teas, juices, energizers and snacks

                .schedule-item
                    .schedule-item__time 16:00
                    .schedule-item__description
                        p Talk 7
                        p Talk 8

                .schedule-item
                    .schedule-item__time 17:30
                    .schedule-item__description
                        p Opportunity to socialise with speakers and take selfies with your favorite Angular experts

                .schedule-item
                    .schedule-item__time 19:00
                    .schedule-item__description
                        p End



    .conference-day-buy

        .container

            h1 Don't miss it!
            h2 Due to the small venue size, only limited tickets are available:

            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your ticket now
