.page.page--sponsors

    .sponsors-hero

        .container

            h1 Sponsors
            h3 Sponsors make NG-BE possible so make sure to check out their website
            p: a.btn.btn-default(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request sponsorship information


    .sponsor-section.sponsor-section--platinum

        .container#ordina
            .row
                .col-sm-6.col-sm-offset-3

                    h1 NG-BE 2016 is powered by Ordina Belgium

                    .sponsor__image
                        a(href="https://www.ordina.be/", target="_blank")
                            img(src="components/sponsors/img/ordina-wide.png", alt="Ordina Belgium")

                    .sponsor__description
                        p: strong Our vision:
                        p IT for People. Ordina believes in a digital world that helps people to move ahead. We are helping to create a better and more pleasant society by realizing sustainable innovations together with our clients.
                        p: strong Why we sponsor NG-BE as Platinum sponsor?
                        p Because cutting edge technologies such as Angular, Ionic, ES6, Typescript, NativeScript, Electron, RxJS, NodeJS, … help us to create nice frontend applications for end-to-end digital projects around M2M, Internet-Of-Things, Virtual Reality, Augmented Reality, Robotics, Sensoring & Wearables.

                    .sponsor__link
                        a.btn.btn-default(href="https://www.ordina.be/", target="_blank") More info @ordina.be

    .sponsor-section.sponsor-section--gold

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Gold sponsors

                    .sponsor#arhs-digital
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.arhs-group.com/arhs-digital", target="_blank")
                                        img(src="components/sponsors/img/arhs_digital.png", alt="ARHS Digital")
                            .col-xs-8.col-sm-9
                                .sponsor__name ARHS Digital
                                .sponsor__description
                                    p Arηs Digital was created in 2012 by Arηs Group to service the Belgian market. Experiencing strong growth, Arηs Digital is now actively working with large organizations in the Manufacturing, Telecommunications, Healthcare, Pharmaceutical and Financial Industries.
                                    p Our credo, "Building on Talent, Delivering on Promise" summarizes our value proposition to our customers, prospects, partners and employees.
                                    p: a(href="https://www.arhs-group.com/arhs-digital", target="_blank") Visit website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.progress.com", target="_blank")
                                        img(src="components/sponsors/img/progress.jpg", alt="Progress")
                            .col-xs-8.col-sm-9
                                .sponsor__name Progress
                                .sponsor__description
                                    p Progress is a global leader in application development, empowering the digital transformation organizations need to create and sustain engaging user experiences in today’s marketplace. With offerings spanning web, mobile and data for on-premise and cloud environments, Progress powers startups and industry titans worldwide, promoting success one customer at a time.
                                    p: a(href="https://www.progress.com", target="_blank") Visit website

                    .sponsor#aarixa
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.aarixa.be/", target="_blank")
                                        img(src="components/sponsors/img/aarixa.jpg", alt="aariXa")
                            .col-xs-8.col-sm-9
                                .sponsor__name aariXa
                                .sponsor__description
                                    p aariXa – Founded in 2005, today a growing company that chooses stability and quality over quantity. Focusing on Front-end, .NET & JAVA technologies, we define and optimize solutions for SME as well as for large international companies. "You’re not a number" is our key value.
                                    p: a(href="http://www.aarixa.be", target="_blank") Visit website


    .sponsor-section.sponsor-section--silver

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Silver sponsors

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.realdolmen.com/", target="_blank")
                                        img(src="components/sponsors/img/realdolmen.jpg", alt="RealDolmen")
                            .col-xs-8.col-sm-9
                                .sponsor__name RealDolmen
                                .sponsor__description
                                    p RealDolmen is not a standard ICT company. ICT companies almost always focus on and depart from technology. RealDolmen focuses in the 1st place on the result that its customers can achieve and works towards the technological part.
                                    p: a(href="http://www.realdolmen.com/", target="_blank") Visit Website


                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.microsoft.com/nl-be", target="_blank")
                                        img(src="components/sponsors/img/microsoft.png", alt="Microsoft")
                            .col-xs-8.col-sm-9
                                .sponsor__name Microsoft
                                .sponsor__description
                                    p At Microsoft, we believe in your potential and that technology can help you accomplish extraordinary things. Your dreams are our motivation; your capabilities, our engine.
                                    p: a(href="https://www.microsoft.com/nl-be", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://axxes.com/en/", target="_blank")
                                        img(src="components/sponsors/img/axxes.png", alt="Axxes")
                            .col-xs-8.col-sm-9
                                .sponsor__name Axxes
                                .sponsor__description
                                    p Axxes –founded in 1998- is a no-nonsense IT Consultancy organization with over 160 Axxes & freelance consultants making their talent and expertise available to our clients in Brussel and Flanders.
                                    p: a(href="https://axxes.com/en/", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.adneom.com", target="_blank")
                                        img(src="components/sponsors/img/adneom.png", alt="ADNEOM")
                            .col-xs-8.col-sm-9
                                .sponsor__name ADNEOM
                                .sponsor__description
                                    p ADNEOM believes in Collaborative Performance as a corporate vision. This project has been achieved thanks to a human value which is called the positive thinking mindset. Counting more than 1000 positive spirits today, ADNEOM is an international consulting company, located in Europe, providing Business, IT & Engineering solutions.
                                    p: a(href="http://www.adneom.com", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.euri.com/jobs", target="_blank")
                                        img(src="components/sponsors/img/euricom.png", alt="Euricom")
                            .col-xs-8.col-sm-9
                                .sponsor__name Euricom
                                .sponsor__description
                                    p Euricom - software consultancy company founded in 1999 – has a focus on high-quality coding and working together as a team. Our 5th Frontend Bootcamp, a 9 week training course, targeting Javascript practices, NodeJS, Angular 2 and Ionic, will start Q1 2017.
                                    p: a(href="https://www.euri.com/jobs", target="_blank") Visit Website

    .sponsor-section.sponsor-section--bronze

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Bronze sponsors

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.showpad.com", target="_blank")
                                        img(src="components/sponsors/img/showpad.jpg", alt="Showpad")
                            .col-xs-8.col-sm-9
                                .sponsor__name Showpad
                                .sponsor__description
                                    p Founded in 2011, Showpad activates the content of over 850 companies around the world, including Johnson & Johnson, Fujifilm, Audi, Intel, and Kimberly-Clark.
                                    p: a(href="http://www.showpad.com", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.webtrix.be", target="_blank")
                                        img(src="components/sponsors/img/webtrix-logo-square.svg", alt="Webtrix")
                            .col-xs-8.col-sm-9
                                .sponsor__name Webtrix
                                .sponsor__description
                                    p Webtrix is specialized in making custom webshops and websites since 2011.
                                    p: a(href="https://www.webtrix.be", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.ctg.com", target="_blank")
                                        img(src="components/sponsors/img/ctg.png", alt="CTG")
                            .col-xs-8.col-sm-9
                                .sponsor__name CTG
                                .sponsor__description
                                    p CTG is the most reliable IT services provider, built on 50 years of meeting our commitments to make technology work for our clients and deliver real business value.
                                    p: a(href="http://www.ctg.com", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.combell.com/en/", target="_blank")
                                        img(src="components/sponsors/img/combell.png", alt="Combell")
                            .col-xs-8.col-sm-9
                                .sponsor__name Combell
                                .sponsor__description
                                    p Since 1999, Combell is the absolute market leader in hosting services for companies, IT integrators and software developers and became the most reliable one-stop partner to host about any IT infrastructure, website or application.
                                    p: a(href="https://www.combell.com/en/", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.stackandheap.com/", target="_blank")
                                        img(src="components/sponsors/img/stackandheap.svg", alt="Stack & Heap")
                            .col-xs-8.col-sm-9
                                .sponsor__name Stack &amp; Heap
                                .sponsor__description
                                    p Stack &amp; Heap develops userfriendly and innovative software for all platforms, keeping the user central.
                                    p: a(href="https://www.stackandheap.com/", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.u2u.be", target="_blank")
                                        img(src="components/sponsors/img/u2u.jpg", alt="U2U")
                            .col-xs-8.col-sm-9
                                .sponsor__name U2U
                                .sponsor__description
                                    p U2U organizes training for developers and IT professionals on web, mobile, cloud, infrastructure and business intelligence technologies. Our mission is to deliver top quality courses by trainers who are experts in the technologies.
                                    p: a(href="https://www.u2u.be", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://devfest.be/", target="_blank")
                                        img(src="components/sponsors/img/gdg.png", alt="GDG DevFest - Season 2016")
                            .col-xs-8.col-sm-9
                                .sponsor__name GDG DevFest - Season 2016
                                .sponsor__description
                                    p The biggest Google tech conference in Belgium carefully crafted for you by GDG community! All about Android, Web and Cloud from the world experts.
                                    p: a(href="https://devfest.be/", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://fourcast.io/", target="_blank")
                                        img(src="components/sponsors/img/fourcast.png", alt="Fourcast")
                            .col-xs-8.col-sm-9
                                .sponsor__name Fourcast
                                .sponsor__description
                                    p Fourcast helps create cultures of innovation, using Google Cloud solutions. We provide custom development and integrations through Google Cloud Platform, management and control of devices through Chrome, and help companies communicate and collaborate more efficiently with G Suite.
                                    p: a(href="http://fourcast.io/", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.23seconds.be/", target="_blank")
                                        img(src="components/sponsors/img/23seconds.jpg", alt="23:Seconds")
                            .col-xs-8.col-sm-9
                                .sponsor__name 23:Seconds
                                .sponsor__description
                                    p 23:Seconds is a team of Rapid application developers. We’re here to move you - FAST - into the digital age, an age of continuous transformation, and integration with Things. You dream it, we’ll build it.
                                    p: a(href="http://www.23seconds.be/", target="_blank") Visit Website

    .sponsors-call-for-sponsorship

        .container

            h1 Do you want to join this awesome list of sponsors?
            h2 Sponsorship packages start at a very low price and offer unique benefits.

            a.btn.btn-primary(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request sponsorship information
