.page.page--sponsors

    .sponsors-hero

        .container

            h1 Sponsors
            h3 Sponsors make NG-BE possible so make sure to check out their website
            p: a.btn.btn-default(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request sponsorship information


    .sponsor-section.sponsor-section--platinum

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Platinum sponsor

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.ordina.be/", target="_blank")
                                        img(src="components/sponsors/img/ordina.png", alt="Ordina Belgium")
                            .col-xs-8.col-sm-9
                                .sponsor__name Ordina Belgium
                                .sponsor__description
                                    p Ordina is the largest, independent services provider in the field of consulting, solutions and IT in the Benelux. We focus on companies and organisations in the financial sector, public sector, healthcare sector and the industrial market.
                                    p: a(href="https://www.ordina.be/", target="_blank") Visit website

    .sponsor-section.sponsor-section--gold

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Gold sponsors

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.arhs-group.com/arhs-developments-belgium", target="_blank")
                                        img(src="components/sponsors/img/arhs_dev.png", alt="ARHS Developments")
                            .col-xs-8.col-sm-9
                                .sponsor__name ARHS Developments
                                .sponsor__description
                                    p Arηs Developments Belgium is a Belgian company incorporated in 2006. Arηs Developments Belgium is a subsidiary of Arηs Developments.
                                    p: a(href="https://www.arhs-group.com/arhs-developments-belgium", target="_blank") Visit website

    .sponsor-section.sponsor-section--silver

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Silver sponsors

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.realdolmen.com/", target="_blank")
                                        img(src="components/sponsors/img/realdolmen.png", alt="RealDolmen")
                            .col-xs-8.col-sm-9
                                .sponsor__name RealDolmen
                                .sponsor__description
                                    p RealDolmen is not a standard ICT company. ICT companies almost always focus on and depart from technology. RealDolmen focuses in the 1st place on the result that its customers can achieve and works towards the technological part.
                                    p: a(href="http://www.realdolmen.com/", target="_blank") Visit Website


                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.microsoft.com/nl-be", target="_blank")
                                        img(src="components/sponsors/img/microsoft.png", alt="Microsoft")
                            .col-xs-8.col-sm-9
                                .sponsor__name Microsoft
                                .sponsor__description
                                    p At Microsoft, we believe in your potential and that technology can help you accomplish extraordinary things. Your dreams are our motivation; your capabilities, our engine.
                                    p: a(href="https://www.microsoft.com/nl-be", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://axxes.com/en/", target="_blank")
                                        img(src="components/sponsors/img/axxes.png", alt="Axxes")
                            .col-xs-8.col-sm-9
                                .sponsor__name Axxes
                                .sponsor__description
                                    p Axxes –founded in 1998- is a no-nonsense IT Consultancy organization with over 160 Axxes & freelance consultants making their talent and expertise available to our clients in Brussel and Flanders.
                                    p: a(href="https://axxes.com/en/", target="_blank") Visit Website

    .sponsor-section.sponsor-section--bronze

        .container
            .row
                .col-sm-6.col-sm-offset-3

                    h1 Bronze sponsors

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.showpad.com", target="_blank")
                                        img(src="components/sponsors/img/showpad.jpg", alt="Showpad")
                            .col-xs-8.col-sm-9
                                .sponsor__name Showpad
                                .sponsor__description
                                    p Founded in 2011, Showpad activates the content of over 850 companies around the world, including Johnson & Johnson, Fujifilm, Audi, Intel, and Kimberly-Clark.
                                    p: a(href="http://www.showpad.com", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.webtrix.be", target="_blank")
                                        img(src="components/sponsors/img/webtrix-logo-square.svg", alt="Webtrix")
                            .col-xs-8.col-sm-9
                                .sponsor__name Webtrix
                                .sponsor__description
                                    p Webtrix is specialized in making custom webshops and websites since 2011.
                                    p: a(href="https://www.webtrix.be", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="http://www.ctg.com", target="_blank")
                                        img(src="components/sponsors/img/ctg.png", alt="CTG")
                            .col-xs-8.col-sm-9
                                .sponsor__name CTG
                                .sponsor__description
                                    p CTG is the most reliable IT services provider, built on 50 years of meeting our commitments to make technology work for our clients and deliver real business value.
                                    p: a(href="http://www.ctg.com", target="_blank") Visit Website

                    .sponsor
                        .row
                            .col-xs-4.col-sm-3
                                .sponsor__image
                                    a(href="https://www.combell.com/en/", target="_blank")
                                        img(src="components/sponsors/img/combell.png", alt="Combell")
                            .col-xs-8.col-sm-9
                                .sponsor__name Combell
                                .sponsor__description
                                    p Since 1999, Combell is the absolute market leader in hosting services for companies, IT integrators and software developers and became the most reliable one-stop partner to host about any IT infrastructure, website or application.
                                    p: a(href="https://www.combell.com/en/", target="_blank") Visit Website

    .sponsors-call-for-sponsorship

        .container

            h1 Do you want to join this awesome list of sponsors?
            h2 Sponsorship packages start at a very low price and offer unique benefits.

            a.btn.btn-primary(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request sponsorship information
