.page.page--sponsors

    .sponsors-hero

        .container

            h1 Sponsors
            h3 Sponsors make NG-BE possible so make sure to check out their website

    .sponsors-list

        .container

            .row.sponsors-list-platinum

                h3 Platinum sponsor

            .row.sponsors-list-platinum

                .col-xsm-4.col-sm-4.col-md-2.col-xsm-offset-4.col-sm-offset-4.col-md-offset-5.sponsor

                    a(href='mailto:info@ng-be.org?subject=Request platinum sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot
                    p We are still looking for a platinum sponsor.

        .container

            .row.sponsors-list-gold

                h3 Gold sponsors

            .row.sponsors-list-gold

                .col-sm-4.col-md-2.col-md-offset-3.sponsor

                    a(href='mailto:info@ng-be.org?subject=Request gold sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot
                    p We are still looking for some gold sponsors.

                .col-sm-4.col-md-2.sponsor

                    a(href='mailto:info@ng-be.org?subject=Request gold sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot
                    p We are still looking for some gold sponsors.

                .col-sm-4.col-md-2.sponsor

                    a(href='mailto:info@ng-be.org?subject=Request gold sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot
                    p We are still looking for some gold sponsors.

        .container

            .row.sponsors-list-gold

                h3 Silver sponsors

            .row.sponsors-list-silver

                .col-sm-2.col-sm-offset-1.sponsor.open

                    a(href='mailto:info@ng-be.org?subject=Request silver sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot

                .col-sm-2.sponsor.open

                    a(href='mailto:info@ng-be.org?subject=Request silver sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot

                .col-sm-2.sponsor

                    a(href='http://www.realdolmen.com/', target='_blank')
                        img(src='components/sponsors/img/realdolmen.png', alt='RealDolmen')
                        span Visit website
                    h2 RealDolmen

                .col-sm-2.sponsor.open

                    a(href='mailto:info@ng-be.org?subject=Request silver sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot

                .col-sm-2.sponsor.open

                    a(href='mailto:info@ng-be.org?subject=Request silver sponsor pack', target='_blank')
                        img(src='components/sponsors/img/question.png', alt='')
                        span Apply here
                    h2 Open sponsor-slot

    .sponsors-call-for-sponsorship

        .container

            h1 Want to become a sponsor?
            h2 We offer unique benefits to sponsors that help support NG-BE.

            a.btn.btn-primary.btn-lg(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request a sponsor pack
