.page.page--sponsors

    .sponsors-hero

        .container

            h1 Sponsors
            h3 Sponsors make NG-BE possible so make sure to check out their website

    .sponsors-call-for-sponsorship

        .container

            h1 Want to become a sponsor?
            h2 We offer unique benefits to sponsors that help support NG-BE.

            a.btn.btn-primary.btn-lg(href="mailto:info@ng-be.org?subject=Request sponsor pack") Request a sponsor pack
